body {
  background-color: #abb1b6;
  margin: 0;
  font-family: monospace;
}
.component-container h2 {
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 22px;
}

.component-container {
  background-color: #abb1b6;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #57636d;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 1px 9px 12px 0px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 1px 9px 12px 0px rgba(0, 0, 0, 0.15) inset;
}
/* .map, .log {
  flex: 1;
  border: 1px solid #000;
  box-sizing: border-box;
} */

/* 
.log{

}

.status{

}

.camera{

}

.speed{

} */
